/* Add styles for individual category buttons */
.tag {
  background-color: var(--tag-bg-light); 
  color: var(--tag-text-light); 
  border: 1px solid var(--tag-border-light); 
  padding: var(--spacing-sm) var(--spacing-lg); 
  border-radius: var(--border-radius-lg); 
  cursor: pointer;
  font-size: var(--font-size-sm); 
  transition: background-color 0.5s ease, color 0.2s ease, border-color 0.2s ease;
  white-space: nowrap;
}

body.dark-mode .tag {
  background-color: var(--tag-bg-light);
  color: var(--tag-text-light);
  border-color: var(--tag-border-light);
}

.tag:hover, .tag.selected-tag:hover {
  border-color: var(--primary-color); 
  box-shadow: 0 0 5px rgba(174, 0, 255, 0.3);
}

body.dark-mode .bot-input:focus,
body.dark-mode .tag:hover, 
body.dark-mode .tag.selected-tag:hover {
  border-color: var(--primary-color); 
  box-shadow: 0 0 5px rgba(174, 0, 255, 0.3);
}

.tag.selected-tag {
  border: 1px solid var(--selected-tag-border-light); 
  background-color: var(--selected-tag-bg-light);
  color: white; 
}

body.dark-mode .tag.selected-tag {
  color: var(--text-color-light); 
  background-color: var(--selected-tag-bg-light);
}
@media (max-width: 768px) {

  .tag {
    font-size: var(--font-size-md);
    padding: var(--spacing-md) var(--spacing-xl); 
  }
}